body {
    margin: 0;
    user-select: none;
}

#upper {
    background: #eee;
    width: 100%;
    height: 95%;
}


#lower {
    background: #eee;
    width: 100%;
    height: 5%;
}

.timestamp {
    width: 0.5%;
    margin-left: 50%;
    height: 100%;
    background: #000;
}

#images {
    background: #eee;
    display: none;
    width: 100%;
    height: 20%;
}


img {
    height: 100%;
    width: auto;
}

.imgholder {
    width: 25%;
    height: 100%;
    float: left;
}