body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}


#flüch {
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: all;
    font-size: 140px;
    position: absolute;
    text-align: center;
    top: 18%; left: 23%; bottom: 20%; right: 17%;
}

#left {
    width: 100%;
    height: 100%;
    background-image: url('assets/oldtv.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#bgleft:hover {
    background: url('assets/alt.jpg');
    background-repeat: no-repeat;
    background-size: 160% 100%;
}

#bgleft {
    background-image: url('assets/oldtv-bg.png');
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-size: 160% 100%;
    transition: 0.2s;
}



#bgright:hover {
    background: url('assets/neu.jpg');
    background-repeat: no-repeat;
    background-size: 160% 100%;
}

#bgright {
    background-image: url('assets/newtv-bg.png');
    width: 50%;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-size: 160% 100%;
    transition: 0.2s;
}


#right {
    width: 100%;
    height: 100%;
    background-image: url('assets/newtv.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 100%;
    background-position-y: 50%;
}
